{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ post.title }}
{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'blog/post-detail.css' %}">
{% endblock %}

{% block content %}
    {%  if comment_form.errors %}
    <div>
      <h2>Saving the comment failed!</h2>
    <p>Please correct the errors below:</p>
    </div>
    {% endif %}
  <section id="summary">
    <h2>{{ post.title }}</h2>
    <div>
      {% for tag in post_tags %}
        <span class="tag">{{ tag.caption }}</span>
      {% endfor %}
    </div>
    <article>
      <img src="{{ post.image.url }}" alt="{{ post.title }}">
      <address>
        By a Peasant —
        <a href="mailto:jerripatterson@gmail.com">Sir Gross</a>
      </address>
    </article>
    <div id="email">
      Last updated on <time>{{ post.date }}</time>
    </div>
  </section>

  <main>
    {{ post.content|linebreaks }}
  </main>
<section id="comments">
    <ul>
      {% for comment in comments %}
        <li>
          <h3>{{ comment.user_name }}</h3>
          <p>{{ comment.content }}</p>
          <time>{{ comment.date }}</time>
        </li>
    {% endfor %}
    </ul>
  <section id="comment">
    <form id="comment-form" action="{% url 'post-detail-page' post.slug %}" method="POST">
      <h2>Your Comment</h2>
      {% csrf_token %}
      {% for form_field in comment_form %}
        <div class="form-control{% if form_field.errors %} invalid{% endif %}">
          {{ form_field.label_tag }}
          {{ form_field }}
          {{ form_field.errors }}
        </div>
      {% endfor %}
      <button type="submit">Submit Comment</button>
    </form>
  </section>
{% endblock %}
